.App {
  text-align: center;
}
.name1{
  font-size: large;
  color: rgb(255, 249, 249);
  background-color: hsl(46, 98%, 24%);
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: lowercase;
  font-size: larger;}
.name2{
    font-size: medium;
    color: beige;
    background-color: rgb(216, 0, 43);
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    text-transform: capitalize;
    font-style: large;}
.name3{
      font-size: small;
      color: azure;
      background-color: rgb(211, 0, 134);
      font-weight: 700;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: inherit;
      font-style: initial;}
      .name4{
        font-size: xx-large;
        color: cornsilk;
        background-color: purple;
        font-weight: 600;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: unset;
        flex-direction: row-reverse;}
        .nature{
          width: 100%;
          height: 50%;
        }
        .dog{
          width: 60px;
          height: 70%;
        }
        .submit{
          color: white;
          background-color:black;
        }
        .name{
          color: azure;
          background-color:red;
        }
        .name5{
          color: crimson;
          font-size: x-large;
          font-weight: 900;
        }
        .dog1{
          width: 70%;
          height: 60px;
        }
        .tablenew{
          width: fit-content;
           margin-left: 20px ;
        }
        .card{
          box-shadow: 0 4px 8px 0 rgba(238, 234, 16, 0.575);
  transition: 0.3s;
  width: 40%;
  background-color: aquamarine;
  color: black;
        }
        .container{
          padding: 2px 8px;
        }
        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(126, 218, 157, 0.397);
        }
        .new1{
        font-weight: bolder ;
    font-size: xx-large;
    color: brown;
        }
        .new2{
          font-weight: 500;
          font-size:x-large ;
          color: crimson;
        }
        #pro1{
          font-size: smaller;
          color: blue;
        }
        #sec1{
          margin-top: 2%;

        }
        #sec1 #row {
          display :flex ;

        }
        #sec1 #hello{
          color: darkred;
        }
        #sec1 #newdog{
          width: 20%;
          height: 30%;
        }
        #social {
          background-color: #333;
          color: #dedede;
          padding: 7.5px;
          border-radius: 10px;
          width: 44px;
          height: -moz-fit-content;
          height: fit-content;
          margin-bottom: 20%;
      }
      .foot{
        margin: 40px 10px;

      }
      
        



        

  
      
    
  


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
