.java2{
    width: 50%;
    height: 50%;
}
.java3{
    font-size: 20px;
    font-weight: bold;
    color: crimson;
    text-transform: initial;
}
.blue{
    color: blue;
    text-transform: uppercase;
}
.cardcontainer {
    display: grid;
    width: 98%;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin: 1%;
    /* margin-left: 9%; */
    /* margin-right: 20%; */
    grid-gap: 50px;
  }
  .cardcontainer > div {
    background-color: #f597e8;
    text-align: center;
    padding: 3px 3px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  @media screen and (max-width: 900px)
  {
.cardcontainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1%;
    margin-left: 9%;
    margin-right: 20%;
    grid-gap: 50px;
}
  }
  .footer_bg_one {
    background: url("../images/user1.jpeg")
    no-repeat center center;
    width: 100px;
    height: 200px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 5s linear infinite;
  animation: myfirst 5s linear infinite;
}
@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
