.java{
    font-size: 30px;
    color: brown;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}
.java1{
    font-size: 20px;
    color: blue;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.violet{color: violet;

}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
.hover-shadow {
    transform: scale(1.05);
    border-radius: 20px !important;
    transition: transform 0.3s ease;
    color: #ffffff !important;
    font-weight: 600;
    background-color: #202b5d !important;
  }
  .hover-shadow:hover {
    transform: scale(1.05) !important;
    transition: transform 0.3s ease !important;
    color: #ffffff;
    font-weight: 600;
    background-color: #272727 !important;
  }